:root {
    --black: rgba(0, 0, 0, 0.9);
    --blue: rgba(112, 181, 249, 1);
    --brown: rgba(145, 89, 7, 1);
    --calibri-bold-12px-font-family: "Calibri-Regular", Helvetica;
    --calibri-bold-12px-font-size: 12px;
    --calibri-bold-12px-font-style: normal;
    --calibri-bold-12px-font-weight: 400;
    --calibri-bold-12px-letter-spacing: 0px;
    --calibri-bold-12px-line-height: normal;
    --calibri-bold-14px-font-family: "Calibri-Regular", Helvetica;
    --calibri-bold-14px-font-size: 14px;
    --calibri-bold-14px-font-style: normal;
    --calibri-bold-14px-font-weight: 400;
    --calibri-bold-14px-letter-spacing: 0px;
    --calibri-bold-14px-line-height: normal;
    --calibri-bold-16px-font-family: "Calibri-Regular", Helvetica;
    --calibri-bold-16px-font-size: 16px;
    --calibri-bold-16px-font-style: normal;
    --calibri-bold-16px-font-weight: 400;
    --calibri-bold-16px-letter-spacing: 0px;
    --calibri-bold-16px-line-height: normal;
    --calibri-light-12px-font-family: "Calibri-Light", Helvetica;
    --calibri-light-12px-font-size: 12px;
    --calibri-light-12px-font-style: normal;
    --calibri-light-12px-font-weight: 300;
    --calibri-light-12px-letter-spacing: 0px;
    --calibri-light-12px-line-height: normal;
    --calibri-light-14px-font-family: "Calibri-Light", Helvetica;
    --calibri-light-14px-font-size: 14px;
    --calibri-light-14px-font-style: normal;
    --calibri-light-14px-font-weight: 300;
    --calibri-light-14px-letter-spacing: 0px;
    --calibri-light-14px-line-height: normal;
    --calibri-light-16px-font-family: "Calibri-Light", Helvetica;
    --calibri-light-16px-font-size: 16px;
    --calibri-light-16px-font-style: normal;
    --calibri-light-16px-font-weight: 300;
    --calibri-light-16px-letter-spacing: 0px;
    --calibri-light-16px-line-height: normal;
    --calibri-regular-12px-font-family: "Calibri-Regular", Helvetica;
    --calibri-regular-12px-font-size: 12px;
    --calibri-regular-12px-font-style: normal;
    --calibri-regular-12px-font-weight: 400;
    --calibri-regular-12px-letter-spacing: 0px;
    --calibri-regular-12px-line-height: normal;
    --calibri-regular-14px-font-family: "Calibri-Regular", Helvetica;
    --calibri-regular-14px-font-size: 14px;
    --calibri-regular-14px-font-style: normal;
    --calibri-regular-14px-font-weight: 400;
    --calibri-regular-14px-letter-spacing: 0px;
    --calibri-regular-14px-line-height: normal;
    --calibri-regular-16px-font-family: "Calibri-Regular", Helvetica;
    --calibri-regular-16px-font-size: 16px;
    --calibri-regular-16px-font-style: normal;
    --calibri-regular-16px-font-weight: 400;
    --calibri-regular-16px-letter-spacing: 0px;
    --calibri-regular-16px-line-height: normal;
    --gray: rgba(102, 102, 102, 0.6);
    --green: rgba(127, 193, 94, 1);
    --lightgray: rgba(224, 224, 224, 0.6);
    --linkedinblue: rgba(10, 102, 194, 1);
    --orange: rgba(231, 163, 62, 1);
    --red: rgba(245, 152, 126, 1);
    --white: rgba(255, 255, 255, 1);
    --whitesmoke: rgba(243, 242, 239, 1);
  }
  