.leftsidecard {
  align-items: flex-start;
  border: 1px solid;
  border-color: #e0e0e0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 272px;
}

.leftsidecard .item {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px 8px 0px 0px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 270px;
}

.leftsidecard .frame {
  height: 88px;
  position: relative;
  width: 270px;
}

.leftsidecard .overlap-group {
  height: 90px;
  position: relative;
}

.leftsidecard .profile-banner {
  background-color: #c4c4c4;
  border-radius: 8px 8px 0px 0px;
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 270px;
}

.leftsidecard .card-profile-picture {
  background-color: #333333;
  border: 2px solid;
  border-color: var(--white);
  border-radius: 36px;
  height: 72px;
  left: 99px;
  position: absolute;
  top: 18px;
  width: 72px;
}

.leftsidecard .txt {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 10px 0px;
  position: relative;
  width: 270px;
}

.leftsidecard .name-text {
  color: var(--black);
  font-family: "Segoe UI-Semibold", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 195px;
}

.leftsidecard .text-wrapper {
  color: var(--black);
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 195px;
}

.leftsidecard .seperator {
  background-color: #e0e0e099;
  height: 1px;
  position: relative;
  width: 270px;
}

.leftsidecard .element-wrapper {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 0px 0px 8px 8px;
  display: flex;
  flex: 0 0 auto;
  padding: 10px 15px;
  position: relative;
  width: 270px;
}

.leftsidecard .element {
  align-items: center;
  display: flex;
  gap: 5px;
  position: relative;
  width: 239px;
}

.leftsidecard .div {
  color: var(--black);
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 239px;
}
