.view-alumni-profile {
  background-color: #eeeeeeee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.view-alumni-profile .div {
  background-color: #eeeeeeee;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.view-alumni-profile .group {
  height: 431px;
  left: 347px;
  position: absolute;
  top: 67px;
  width: 769px;
}

.view-alumni-profile .overlap {
  background-color: #ffffff;
  border-radius: 10px;
  height: 431px;
  position: relative;
  width: 745px;
}

.view-alumni-profile .vector {
  height: 17px;
  left: 238px;
  position: absolute;
  top: 390px;
  width: 17px;
}

.view-alumni-profile .img {
  height: 15px;
  left: 26px;
  position: absolute;
  top: 390px;
  width: 15px;
}

.view-alumni-profile .overlap-group {
  height: 119px;
  left: 0;
  position: absolute;
  top: 0;
  width: 745px;
}

.view-alumni-profile .rectangle {
  background-color: #909090;
  border-radius: 10px 10px 0px 0px;
  height: 86px;
  left: 0;
  position: absolute;
  top: 0;
  width: 745px;
}

.view-alumni-profile .ellipse {
  background-color: #333333;
  border-radius: 36px;
  height: 72px;
  left: 26px;
  position: absolute;
  top: 47px;
  width: 72px;
}

.view-alumni-profile .user-person {
  height: 44px !important;
  left: 40px !important;
  position: absolute !important;
  top: 61px !important;
  width: 44px !important;
}

.view-alumni-profile .text-wrapper {
  color: #333333;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 138px;
}

.view-alumni-profile .text-wrapper-2 {
  color: #606060;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 159px;
  width: 110px;
}

.view-alumni-profile .overlap-group-wrapper {
  height: 20px;
  left: 26px;
  position: absolute;
  top: 313px;
  width: 58px;
}

.view-alumni-profile .div-wrapper {
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 5px;
  height: 20px;
  position: relative;
  width: 56px;
}

.view-alumni-profile .text-wrapper-3 {
  color: #606060;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 42px;
}

.view-alumni-profile .overlap-wrapper {
  height: 20px;
  left: 91px;
  position: absolute;
  top: 313px;
  width: 58px;
}

.view-alumni-profile .group-2 {
  height: 20px;
  left: 156px;
  position: absolute;
  top: 313px;
  width: 58px;
}

.view-alumni-profile .text-wrapper-4 {
  color: #333333;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 199px;
}

.view-alumni-profile .text-wrapper-5 {
  color: #333333;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 219px;
}

.view-alumni-profile .text-wrapper-6 {
  color: #333333;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 239px;
}

.view-alumni-profile .text-wrapper-7 {
  color: #333333;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 106px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 199px;
}

.view-alumni-profile .text-wrapper-8 {
  color: #333333;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 389px;
}

.view-alumni-profile .text-wrapper-9 {
  color: #333333;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 262px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 389px;
}

.view-alumni-profile .text-wrapper-10 {
  color: #333333;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 106px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 219px;
}

.view-alumni-profile .text-wrapper-11 {
  color: #333333;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 106px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 239px;
}

.view-alumni-profile .text-wrapper-12 {
  color: #333333;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 289px;
}

.view-alumni-profile .text-wrapper-13 {
  color: #333333;
  font-family: "Segoe UI-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 365px;
}

.view-alumni-profile .overlap-2 {
  background-color: #ffffff;
  height: 49px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.view-alumni-profile .group-3 {
  height: 38px;
  left: 1077px;
  position: absolute;
  top: 5px;
  width: 28px;
}

.view-alumni-profile .overlap-3 {
  height: 38px;
  position: relative;
  width: 26px;
}

.view-alumni-profile .interface-essential-home {
  left: 1px !important;
  position: absolute !important;
  top: 0 !important;
}

.view-alumni-profile .text-wrapper-14 {
  color: #606060;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
}

.view-alumni-profile .group-4 {
  height: 38px;
  left: 1129px;
  position: absolute;
  top: 5px;
  width: 34px;
}

.view-alumni-profile .overlap-4 {
  height: 38px;
  position: relative;
  width: 32px;
}

.view-alumni-profile .style-outlined {
  height: 24px !important;
  left: 4px !important;
  position: absolute !important;
  top: 0 !important;
  width: 24px !important;
}

.view-alumni-profile .text-wrapper-15 {
  color: #606060;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 23px;
}

.view-alumni-profile .overlap-5 {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 31px;
  left: 425px;
  position: absolute;
  top: 9px;
  width: 363px;
}

.view-alumni-profile .p {
  color: #909090;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
  width: 211px;
}

.view-alumni-profile .vector-2 {
  height: 15px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 15px;
}

.view-alumni-profile .ellipse-2 {
  background-color: #606060;
  border-radius: 13.5px;
  height: 27px;
  left: 128px;
  position: absolute;
  top: 11px;
  width: 27px;
}

.view-alumni-profile .text-wrapper-16 {
  color: #606060;
  font-family: "Segoe UI-Regular", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 160px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}
